<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/navbar.ejs') %> 

    <main class="center">
        <div class="container_center">
            <h1>Cadastrar um novo Produto</h1>

            <h2><% if(typeof msg !== 'undefined') { %>
                <%=msg %> 
            <% } %></h2>

            <form action="/cadastrarprodutos/add" method="post">
                <label for="nome">
                    Nome: <input type="text" name="name" placeholder="Dígite o do produto">
                </label>
                <label for="preco">
                    Preço: <input type="number" name="preco" placeholder="Dígite o preço do Produto">
                </label>
                
                <button type="submit">Cadastrar Produto</button>
            </form>

        </div>
    </main>


    <%- include('partials/script.ejs') %> 
</body>
</html>