<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    
    <main class="center">
        <div class="container_center">
            <h1>Matt Food</h1>

            <ul class="rotas">
                <li><a href="/cadastrarclientes">Cadastrar Clientes</a></li>
                <li><a href="/listarclientes">Listar Pedidos</a></li>
                <li><a href="/cadastrarprodutos">Cadastrar Produtos</a></li>
                <li><a href="/listarprodutos">Listar Produtos</a></li>
                <li><a href="/realizarpedido">Realizar Pedido</a></li>
                <li><a href="/alterarstatus">Alterar Status do Pedido</a></li>
                <li><a href="/listarpedidos">Listar Pedidos</a></li>
            </ul>
        </div>
    </main>


    <%- include('partials/script.ejs') %> 
</body>
</html>