<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    
    <main class="center">
        <div class="container_center">
            <h1>Matt Food</h1>
        </div>
    </main>


    <%- include('partials/script.ejs') %> 
</body>
</html>